<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
<div class="page">
  <p id="notice"><%= notice %></p>
  <div class="wrap">
    <img src="<%= @company.logo %>" class="clogo" />
    <br/>
    <hr>
    <div class="row info-row">
      <div class="col-md-6">
        <h1><%= @company.title %></h1>
        <h4>(<%= @company.exch %>:<%= @company.GTicker %>)</h4>
      </div>
      <div class="col-md-6 price-info">
        <table class="info-t">
          <tr>
            <th>Stock price</th>
          </tr>
          <tr>
            <td class="t-price"><%= @stock['l_cur'] %></td>
          </tr>
        </table>
        <table class="info-t">
          <tr>
            <th>Change</th>
            <th>Change in price</th>
            <th>Last updated</th>
          </tr>
          <tr>
            <% if @stock['cp'].to_f > 0 %>
              <td class="t-mcap green"><%= @stock['cp'] %> %</td>
            <% else %>
              <td class="t-mcap red"><%= @stock['cp'] %> %</td>
            <% end %>
            <td class="t-mcap"><%= @stock['c'] %></td>
            <td class="t-mcap"><%= @stock['lt'] %></td>
          </tr>
        </table>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12 focus-area">
        <h4><b>Focus area</b>: <%= @company.focus %></h4>
      </div>
    </div>
    <div class="row">
    <div class="col-md-5">
      <p><%= @company.description %></p>
    </div>
    <div class="col-md-7 c-chart" id="chartdiv">
      <!-- amCharts javascript code -->
    <script type="text/javascript">
      AmCharts.makeChart("chartdiv",
        {
          "type": "serial",
          "categoryField": "date",
          "dataDateFormat": "YYYY-MM-DD",
          "theme": "default",
          "categoryAxis": {
            "parseDates": true
          },
          "chartCursor": {
            "enabled": true
          },
          "chartScrollbar": {
            "enabled": true,
            "graph": "g1",
            "graphType": "line",
            "scrollbarHeight": 30
          },
          "trendLines": [],
          "graphs": [
            {
              "balloonText": "Open:<b>[[open]]</b><br>Low:<b>[[low]]</b><br>High:<b>[[high]]</b><br>Close:<b>[[close]]</b><br>",
              "closeField": "close",
              "fillAlphas": 0.9,
              "fillColors": "#7f8da9",
              "highField": "high",
              "id": "g1",
              "lineColor": "#7f8da9",
              "lowField": "low",
              "negativeFillColors": "#db4c3c",
              "negativeLineColor": "#db4c3c",
              "openField": "open",
              "title": "Price:",
              "type": "candlestick",
              "valueField": "close"
            }
          ],
          "guides": [],
          "valueAxes": [
            {
              "id": "ValueAxis-1"
            }
          ],
          "allLabels": [],
          "balloon": {},
          "titles": [],
          "dataProvider": <%= raw @a.as_json %>
        }
      );
    </script>
    </div>
    </div>
    <hr>
    <%= link_to 'Edit', edit_company_path(@company) %> |
    <%= link_to 'Back', companies_path %>
  </div>
</div>
