<div class="page">
  <p id="notice"><%= notice %></p>
  <div class="wrap">
    <img src="<%= @company.logo %>" class="clogo" />
    <br/>
    <hr>
    <h1><%= @company.title %></h1>
    <div class="row">
      <div class="col-md-6">
        <h4>(<%= @company.ticker %>)</h4>
      </div>
      <div class="col-md-6">
        <table class="info-t">
          <tr>
            <th>Stock price</th>
            <th>Market Cap</th>
          </tr>
          <tr>
            <th><%= @company.price %></th>
            <th><%= @company.mcap %></th>
          </tr>
        </table>
      </div>
    </div>
    <hr>
    <div class="row">
    <div class="col-md-5">
      <p><%= @company.description %></p>
    </div>
    <div class="col-md-7 c-chart">
    <!-- TradingView Widget BEGIN -->
    <script type="text/javascript">
    new TradingView.widget({
      "autosize": true,
      "symbol": "<%= @company.ticker %>",
      "interval": "D",
      "timezone": "Etc/UTC",
      "theme": "Light",
      "style": "1",
      "locale": "en",
      "toolbar_bg": "#f1f3f6",
      "enable_publishing": false,
      "allow_symbol_change": true,
      "hideideas": true
    });
    </script>
    <!-- TradingView Widget END -->
    </div>
    </div>

    <hr>
    <%= link_to 'Edit', edit_company_path(@company) %> |
    <%= link_to 'Back', companies_path %>
  </div>
</div>
