<div class="container-2 w-container">
<div class="compange-page">
<div class="div-block-2 w-clearfix"><img class="image" height="55" sizes="188.734375px" src="images/Genmab.svg.png" srcset="<%= @company.logo %>"><a class="button w-button" href="<%= edit_company_path(@company) %>">Edit</a></div>
<div class="company-main-header w-clearfix">
  <div class="div-block-3 w-clearfix">
    <h1 class="company-title"><%= @company.title %></h1>
    <% if @company.GTicker.empty? %>
      <h4 class="company-symbol">(<%= @company.yticker.split('.')[0] %>:<%= @company.yticker.split('.')[1] %>)</h4>
    <% else %>
      <h4 class="company-symbol">(<%= @company.exch %>:<%= @company.GTicker %>)</h4>
    <% end %>
    <div class="div-block-10">
      <div class="text-block-2">1 Week</div>
      <% if @week == "n/a" %>
        <div class="text-block-3"><%= @week %></div>
      <% elsif @week >= 0 %>
        <div class="text-block-3 green">+<%= @week.round(2) %>%</div>
      <% else %>
        <div class="text-block-3 red"><%= @week.round(2) %>%</div>
      <% end %>
    </div>
    <div class="div-block-10">
      <div class="text-block-2">1 Month</div>
      <% if @month == "n/a" %>
        <div class="text-block-3"><%= @month%></div>
      <% elsif @month >= 0 %>
        <div class="text-block-3 green">+<%= @month.round(2) %>%</div>
      <% else %>
        <div class="text-block-3 red"><%= @month.round(2) %>%</div>
      <% end %>
    </div>
    <div class="div-block-10">
      <div class="text-block-2">1 Year</div>
      <% if @year == "n/a" %>
        <div class="text-block-3"><%= @year %></div>
      <% elsif @year >= 0 %>
        <div class="text-block-3 green">+<%= @year.round(2) %>%</div>
      <% else %>
        <div class="text-block-3 red"><%= @year.round(2) %>%</div>
      <% end %>
    </div>
    <div class="div-block-10">
      <div class="text-block-2">3 Years</div>
      <% if @tyear == "n/a" %>
        <div class="text-block-3"><%= @tyear %></div>
      <% elsif @tyear >= 0 %>
        <div class="text-block-3 green">+<%= @tyear.round(2) %>%</div>
      <% else %>
        <div class="text-block-3 red"><%= @tyear.round(2) %>%</div>
      <% end %>
    </div>
    <div class="div-block-10">
      <div class="text-block-2">5 Years</div>
      <% if @fyear == "n/a" %>
        <div class="text-block-3"><%= @fyear %></div>
      <% elsif @fyear >= 0 %>
        <div class="text-block-3 green">+<%= @fyear.round(2) %>%</div>
      <% else %>
        <div class="text-block-3 red"><%= @fyear.round(2) %>%</div>
      <% end %>
    </div>
    <div class="div-block-10 last-info-div">
      <div class="text-block-2">Year to date</div>
      <% if @dyear == "n/a" %>
        <div class="text-block-3"><%= @dyear %></div>
      <% elsif @dyear >= 0 %>
        <div class="text-block-3 green">+<%= @dyear.round(2) %>%</div>
      <% else %>
        <div class="text-block-3 red"><%= @dyear.round(2) %>%</div>
      <% end %>
    </div>
  </div>
  <div class="div-block-4 w-clearfix">
    <div class="div-block-10 stock-price-div">
      <% if @company.GTicker.empty? %>
        <div class="stock-text text-block-2">Stock price<span id="warning" title="This particular stock might experience delayed prices. - Please look at the Last Updated tab for time accuracy.">Warning</span></div>
      <% else %>
        <div class="stock-text text-block-2">Stock price</div>
      <% end %>
      <% if @company.GTicker.empty? %>
        <div class="stock-price"> <%= @stockPrice.round(3) %></div>
      <% else %>
        <div class="stock-price"> <%= @stock['l_cur'] %></div>
      <% end %>
    </div>
    <div class="change-div">
      <div class="text-block-2">Change</div>
      <% if @company.GTicker.empty? %>
        <% if @change > 0 %>
          <div class="text-block-8 green">+<%= @change %>%</div>
        <% else %>
          <div class="text-block-8 red"><%= @change %> %</div>
        <% end %>
      <% else %>
        <% if @stock['cp'].to_f > 0 %>
          <div class="text-block-8 green"><%= @stock['cp'] %>%</div>
        <% else %>
          <div class="text-block-8 red"><%= @stock['cp'] %> %</div>
        <% end %>
      <% end %>
    </div>
    <div class="change-div">
      <div class="text-block-2">Change in price</div>
      <% if @company.GTicker.empty? %>
        <% if @changeP > 0 %>
          <div class="change-p text-block-8">+<%= @changeP.round(3) %></div>
        <% else %>
          <div class="change-p text-block-8"><%= @changeP.round(3) %></div>
        <% end %>
      <% else %>
        <div class="change-p text-block-8"><%= @stock['c'] %></div>
      <% end %>
    </div>
    <div class="change-div last-change-div">
      <div class="text-block-2">Last Updated</div>
      <% if @company.GTicker.empty? %>
        <div class="change-p text-block-8"><%= @currTime %></div>
      <% else %>
        <div class="change-p text-block-8"><%= @stock['lt'] %></div>
      <% end %>
    </div>
  </div>
</div>
<div class="div-block-11 w-clearfix">
  <div class="text-block-9">Focus area:</div>
  <% @focus_areas.each do |f| %>
    <a class="link-2" href="#"><%= f %></a>
  <% end %>
</div>
<div class="div-block-13 w-clearfix">
  <div class="div-block-12">
    <p class="paragraph-2"><%= @company.description %></p>
  </div>
  <div class="div-block-14 " id="chartdiv">
    <script type="text/javascript">
      AmCharts.makeChart("chartdiv",
        {
          "type": "serial",
          "categoryField": "date",
          "dataDateFormat": "YYYY-MM-DD",
          "theme": "default",
          "categoryAxis": {
            "parseDates": true
          },
          "chartCursor": {
            "enabled": true
          },
          "chartScrollbar": {
            "enabled": true,
            "graph": "g1",
            "graphType": "line",
            "scrollbarHeight": 30
          },
          "trendLines": [],
          "graphs": [
            {
              "balloonText": "Open:<b>[[open]]</b><br>Low:<b>[[low]]</b><br>High:<b>[[high]]</b><br>Close:<b>[[close]]</b><br>",
              "closeField": "close",
              "fillAlphas": 0.9,
              "fillColors": "#7f8da9",
              "highField": "high",
              "id": "g1",
              "lineColor": "#7f8da9",
              "lowField": "low",
              "negativeFillColors": "#db4c3c",
              "negativeLineColor": "#db4c3c",
              "openField": "open",
              "title": "Price:",
              "type": "candlestick",
              "valueField": "close"
            }
          ],
          "guides": [],
          "valueAxes": [
            {
              "id": "ValueAxis-1"
            }
          ],
          "allLabels": [],
          "balloon": {},
          "titles": [],
          "dataProvider": <%= raw @a.as_json %>
        }
      );
    </script>
  </div>
</div>
<%= link_to 'Back', companies_path %>
</div>
</div>